# **Dataiku Data Scientist Technical Assessment**
### Author : Jules Boistard
### Submission date : January 18th, 2022
___

#### **#1 : Exploratory data analysis**

In [1]:
# Read the train and test files
import pandas as pd
import re

metadata = open("data/census_income_metadata.txt")
col_names = [re.findall("\(([^\)]+)\)", line)[0] for line in metadata.readlines()[81:121]]
col_names.append("total person income")

train = pd.read_csv("data/census_income_learn.csv", header=None, sep=", ", na_values="?", usecols=[i for i in range(42) if i!=24], names=col_names)
test = pd.read_csv("data/census_income_test.csv", header=None, sep=", ", na_values="?", usecols=[i for i in range(42) if i!=24], names=col_names)

'''
Note : column #24 in the csv corresponds to the instance weight.
While it will be kept for exploratory data analysis, we will later on remove it to train the classifiers.
It is therefore treated separately in this section and added as last column.
'''
train["instance weight"] = pd.read_csv("data/census_income_learn.csv", header=None, sep=", ", na_values="?", usecols=[24])
test["instance weight"] = pd.read_csv("data/census_income_test.csv", header=None, sep=", ", na_values="?", usecols=[24])

e:\dataiku_assessment\venv\lib\site-packages\pandas\util\_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [34]:
# Identify categorical columns in the dataset
num_cols = ["age", "wage per hour", "capital gains", "capital losses", "dividends from stocks", "num persons worked for employer", "weeks worked in year", "instance weight"]
cat_cols = [col for col in train.columns if col not in num_cols]

train[cat_cols] = train[cat_cols].astype("category")
test[cat_cols] = test[cat_cols].astype("category")

data = pd.concat([train, test])

In [39]:
# Check for missing values
nan_rate = data.isna().sum() / len(data)
nan_rate.sort_values(ascending=False).head(10)

migration code-change in msa      0.499998
migration code-change in reg      0.499998
migration code-move within reg    0.499998
migration prev res in sunbelt     0.499998
country of birth father           0.033887
country of birth mother           0.030710
country of birth self             0.017231
hispanic origin                   0.004274
state of previous residence       0.003468
citizenship                       0.000000
dtype: float64

In [36]:
# Look at descriptive stats for numerical features
data.describe()

,age,wage per hour,capital gains,capital losses,dividends from stocks,num persons worked for employer,weeks worked in year,instance weight
count,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000,299285.000000
mean,34.538998,55.105027,431.742176,36.849010,195.851259,1.956172,23.178375,1740.101125
std,22.318468,273.340729,4670.768536,269.789771,1937.847082,2.364857,24.404016,994.144299
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.870000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1060.490000
50%,33.000000,0.000000,0.000000,0.000000,0.000000,1.000000,8.000000,1617.110000
75%,50.000000,0.000000,0.000000,0.000000,0.000000,4.000000,52.000000,2188.110000
max,90.000000,9999.000000,99999.000000,4608.000000,99999.000000,6.000000,52.000000,18656.300000

In [37]:
data[data["dividends from stocks"]==99999.000000]

,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital stat,major industry code,major occupation code,...,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year,total person income,instance weight
991,78,Not in universe,0,0,Associates degree-academic program,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,50000+.,637.86
8921,69,Not in universe,0,0,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,50000+.,3594.65
13733,38,Self-employed-incorporated,37,5,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Business and repair services,Professional specialty,...,United-States,Germany,Native- Born abroad of American Parent(s),2,Not in universe,2,52,95,50000+.,2618.45
14914,70,Self-employed-incorporated,39,3,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Personal services except private HH,Executive admin and managerial,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,50000+.,1326.14
22754,58,Private,32,3,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Wholesale trade,Executive admin and managerial,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,50000+.,2440.20
33995,58,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,NaN,NaN,Foreign born- Not a citizen of U S,0,Not in universe,2,44,95,50000+.,2276.34
35946,61,Not in universe,0,0,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,4,94,50000+.,1065.30
48458,81,Not in universe,0,0,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,50000+.,637.86
66668,66,Self-employed-not incorporated,45,11,Prof school degree (MD DDS DVM LLB JD),0,Not in universe,Married-civilian spouse present,Other professional services,Professional specialty,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,50000+.,1934.72
73491,74,Not in universe,0,0,Some college but no degree,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,50000+.,1363.41
73833,50,Self-employed-not incorporated,4,34,Bachelors degree(BA AB BS),0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,50000+.,1926.94
75166,65,Not in universe,0,0,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,19,95,50000+.,1860.89
93343,62,Private,32,16,High school graduate,0,Not in universe,Married-civilian spouse present,Wholesale trade,Sales,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,44,95,50000+.,1978.97
94558,56,Private,45,2,High school graduate,0,Not in universe,Married-civilian spouse present,Other professional services,Executive admin and managerial,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,50000+.,1491.37
102166,58,Private,45,14,High school graduate,0,Not in universe,Married-civilian spouse present,Other professional services,Technicians and related support,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,28,95,50000+.,648.40
103493,52,Not in universe,0,0,High school graduate,0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,50000+.,2549.10
115161,74,Not in universe,0,0,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,50000+.,1753.44
124420,59,Private,14,2,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,Executive admin and managerial,...,Poland,United-States,Native- Born in the United States,0,Not in universe,2,52,95,50000+.,1000.72
124965,34,Self-employed-not incorporated,46,45,Associates degree-occup /vocational,0,Not in universe,Never married,Forestry and fisheries,Farming forestry and fishing,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,30,94,50000+.,1524.49
132596,75,Self-employed-not incorporated,1,7,Prof school degree (MD DDS DVM LLB JD),0,Not in universe,Married-civilian spouse present,Agriculture,Professional specialty,...,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,50000+.,1601.30
151683,50,Not in universe,0,0,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,50000+.,1065.30
166660,55,Private,23,37,High school graduate,0,Not in universe,Married-civilian spouse present,Manufacturing-nondurable goods,Machine operators assmblrs & inspctrs,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,28,95,50000+.,473.92
168018,31,Not in universe,0,0,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,50000+.,644.65
180545,75,Not in universe,0,0,Bachelors degree(BA AB BS),0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94,50000+.,1718.77
194878,72,Self-employed-not incorporated,45,11,Doctorate degree(PhD EdD),0,Not in universe,Married-civilian spouse present,Other professional services,Professional specialty,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,50000+.,491.96
9571,47,Self-employed-incorporated,37,12,Doctorate degree(PhD EdD),0,Not in universe,Married-civilian spouse present,Business and repair services,Professional specialty,...,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,50000+.,1601.30
18682,60,Self-employed-not incorporated,3,2,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Mining,Executive admin and managerial,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,50000+.,2749.92
23332,51,Not in universe,0,0,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Not in universe or children,Not in universe,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,50000+.,1860.89
59310,79,Federal government,50,1,Doctorate degree(PhD EdD),0,Not in universe,Widowed,Public administration,Executive admin and managerial,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,50000+.,641.29
76855,47,Private,30,15,Bachelors degree(BA AB BS),0,Not in universe,Never married,Communications,Technicians and related support,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,25,94,50000+.,1247.28
90322,59,Local government,43,38,High school graduate,0,Not in universe,Married-civilian spouse present,Education,Transportation and material moving,...,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,50000+.,2836.78

In [7]:
train.nunique()

age                                              91
class of worker                                   9
detailed industry recode                         52
detailed occupation recode                       47
education                                        17
wage per hour                                  1240
enroll in edu inst last wk                        3
marital stat                                      7
major industry code                              24
major occupation code                            15
race                                              5
hispanic origin                                   9
sex                                               2
member of a labor union                           3
reason for unemployment                           6
full or part time employment stat                 8
capital gains                                   132
capital losses                                  113
dividends from stocks                          1478
tax filer stat                                    6
region of previous residence                      6
state of previous residence                      50
detailed household and family stat               38
detailed household summary in household           8
migration code-change in msa                      9
migration code-change in reg                      8
migration code-move within reg                    9
live in this house 1 year ago                     3
migration prev res in sunbelt                     3
num persons worked for employer                   7
family members under 18                           5
country of birth father                          42
country of birth mother                          42
country of birth self                            42
citizenship                                       5
own business or self employed                     3
fill inc questionnaire for veteran's admin        3
veterans benefits                                 3
weeks worked in year                             53
year                                              2
total person income                               2
instance weight                               99800
dtype: int64

___
#### **#2 : Data preparation**

In [ ]:
# Split datasets into features and target variable. Remember that the very last columns corresponds to the instance weight and is therefore ignored
# As such, the target variable corresponds to the second to last column
X_train = train.iloc[:, :-2]
X_test = test.iloc[:, :-2]
y_train = train.iloc[:, -2]
y_test = test.iloc[:, -2]

___
#### **#3 : Data Modeling**

___
#### **#4 : Model Assessment**